
#logo-div{
    height: 40%;
    display: flex;
    margin-top: 7%;
    align-items: center;   // alinhamento vertical
    justify-content: center; // alinhamento horizontal
    font-family:Georgia, 'Times New Roman', Times, serif;

    h3{
        text-align: center;
    }

}
