<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title (click)="logout()">
      IFinanças na Area
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-label> Mês </ion-label>
    <ion-datetime displayFormat="MM/YYYY" pickerFormat="MMMM YYYY" [(ngModel)]="date" (ngModelChange)="atualizaContas()"></ion-datetime>
  </ion-item> <br>
    
    <dash-card
      valor = {{conta.pagar.valor}}
      tipo = "pagar"
      num = {{conta.pagar.num}}
    >
    </dash-card>

    <dash-card
      valor = {{conta.receber.valor}}
      tipo = "receber"
      num = {{conta.receber.num}}

    >
    </dash-card>

    <dash-card
      num={{conta.saldo.num}}
      tipo="saldo"
      valor={{conta.saldo.valor}}
  >
  </dash-card>

    <div id="btnMenu">
      <ion-button expand="block" [routerLink]="['/contas/pagar']">Contas a pagar</ion-button><br>
      <ion-button expand="block" [routerLink]="['/contas/receber']">Contas a receber</ion-button>
    </div>

</ion-content>


